<% provide :title, (t "static_pages.about") %>
<h1><%= t "static_pages.about" %></h1>
<p>
  <%= link_to "http://www.railstutorial.org/" do %>
    <%= content_tag :em, (t "static_pages.name") %>
  <% end %>
</p>
