<footer class="footer">
  <small>
    <%= link_to t("static_pages.name"), "http://www.railstutorial.org/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
      <li><%= link_to t("static_pages.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
